<form #formCtrl="ngForm" class="news-form">
<md-card class="create-news-card">
 
    <md-toolbar color="primary">ساخت خبر جدید</md-toolbar>

  <md-card-content>
            <news-inputs [news]="news" (onChangeNews)="onChangeNews($event)"></news-inputs>
  </md-card-content>

  <md-card-actions class="buttons">
    <button md-button [disabled]="!formCtrl.form.valid" (click)="createNews()">ساختن</button>
    <button md-button (click)="goBack()">بازگشت</button>
  </md-card-actions>
</md-card>
</form>