md-card {
    padding: 0;
}
.marginCat
{margin: 2%}

.card-content {
    padding: 20px;
}
.card-checkbox
{
    padding-top:2% ;
    padding-bottom:3% ;
}

mat-button-ripple {
    display: none;
}
button :active
{
    background-color: red;
}
.select-cats-list
{
    margin: 2% !important;
    /*float: right;*/
}
.search-all-cats
{

    margin-left: 2%;
    margin-right: 4% !important;
    margin-bottom: 2% !important;
    margin-top: 2% !important;
    float: right;
}
.reject-reason-cloumn
{
    background-color: #4a5173 !important;

}
.cursor-pointer
{
    cursor: pointer !important;
}
.search-cats
{

    margin-left: 3%;
    margin-bottom: 1% !important;
    margin-top: 1% !important;
}
.search-all-cats-clicked
{
    background-color: red;
}
.content-table
{
    /*border: 2px solid #3b4eda;*/
    border-radius: 2px;
    padding: 1%;
    margin: auto;
    /*background-color: #e6e6e6;*/

}
.active-tab
{
    background-color: #2e9ff9;
    color: white;
}
table
{
  border: none;
    /*border-collapse: collapse;*/
}
tbody
{
    border: none;
}
th{
    border: none;
    border-radius: 10px;
    background: #3498db;
    color :white;
    text-align: center;
    font-weight: bold;

}
tr{
    color :gray;
    background: #b2c4e0;
    border: 1px solid gray;
}
tr:nth-of-type(odd) {
    background: #eee;
    text-align: center;

}
td, th {
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}
td
{
    /*border: none;*/
    border-bottom: 1px solid #eee;
}
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}


/*tbody {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgb(0, 188, 212);
}

ng2-md-datatable-row:hover {
    background-color: rgb(228, 245, 247);
}

td.button:hover {
    background-color: rgb(0, 188, 212);
}*/

h3 {
    font-family: IRANSansWeb !important;
}

md-list-item:hover {
    background-color: rgb(0, 188, 212);
    cursor: pointer;
}
/*rgb(228, 245, 247)*/
/*rgb(227, 231, 234)*/
.material-icons:hover {
    background-color: rgb(0, 188, 212);
    cursor: pointer;
}
.container {
    float: right;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: small;
    width: 8%;
    margin-left: 5%;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
