md-select {
    margin-top: 1em;
    margin-bottom: 1em;
}

list-table {
  float: right;
}

.sticky-progress-spinner {
    width: 24px;
    height: 24px;
}

.sticky-shortcut, .sticky-progress-spinner {
  /*padding: 0 14px;*/
  position: relative;
  bottom: 95%;
}
