<form #formCtrl="ngForm" class="user-form">
<md-card class="create-ads-card">

    <md-toolbar color="primary">پنل ساخت تبلیغ</md-toolbar>

  <md-card-content>

            <md-input-container class="input-full-width">
            <input mdInput [(ngModel)]="publisher.title" placeholder="عنوان"
                   required type="text" name="title">
            </md-input-container>


            <md-input-container class="input-full-width">
            <input mdInput [(ngModel)]="publisher.total_budget" placeholder="بودجه کل"
                   required type="number" name="total_budget">
            </md-input-container>


            <md-select   mdInput [(ngModel)]="publisher.status" placeholder="وضعیت"  class="input-full-width" name="status">
              <md-option *ngFor="let status of this.statChoices" [value]="status.value" >
                {{status.value}}
              </md-option>
            </md-select>



  </md-card-content>


  <md-card-actions class="buttons">
    <button md-button [disabled]="!formCtrl.form.valid" (click)="InsertPublisher()">ساختن</button>
    <button md-button (click)="goBack()">بازگشت</button>
  </md-card-actions>
</md-card>
</form>
