<md-card class="dashboard-card">
  <md-card-header>
      <div md-card-avatar class="header-image"></div>
      <md-card-title>{{username}}</md-card-title>
      <md-card-subtitle>{{role}}</md-card-subtitle>
  </md-card-header>
  <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
  <md-card-content class="dashboard-content">
      <p>
      به پنل ادمین خوش آمدید!
      </p>
  </md-card-content>
  <md-card-actions class="card-actions">
      <button md-button (click)="exit()">خروج</button>
      <button md-button (click)="search()">جست و جو</button>
  </md-card-actions>
</md-card>